.intro__list {
  margin: 33px 0 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  list-style-type: none;
  padding: 0;
}

@media (max-width: 751px) {
  .intro__list {
    margin: 36px 0 0 0;
  }
}
