.lead__main {
  margin: 66px auto 0;
}

@media (max-width: 340px) {
  .lead__main {
  max-width: 320px;
  margin: 40px auto 0;
  }
}

@media (min-width: 341px) and (max-width: 1023px) {
  .lead__main {
    max-width: 768px;
    margin: 57px auto 0;
  }
}

 @media (min-width: 1024px) and (max-width: 1279px) {
  .lead__main {
    max-width: 928px;
    margin: 57px auto 0;
  }
}
