.lead {
  max-width: 984px;
  text-align: center;
  padding-top: 56px;
  margin: 0 auto;
  color: #fff;
}

@media (max-width: 340px) {
  .lead {
    padding-top: 48px;
  }
}

@media (min-width: 341px) and (max-width: 1279px) {
  .lead {
    padding-top: 50px;
  }
}
