.header__logo {
  width: 176px;
  height: 52px;
  background: url("../../../images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.header__logo:hover {
  transform: scale(1.2);
  opacity: 0.8;
  transition: all .5s ease-in-out;
}

@media (max-width: 751px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
