.header__logo {
  width: 176px;
  height: 52px;
  background: url("../../../images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 767px) {
  .header__logo {
    width: 146px;
    height: 42px;
  }
}
