.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  text-align: right;
  margin: 0;
}

@media (max-width: 751px) {
  .footer__copyright {
    margin-top: 42px;
    text-align: start;
  }
}
