.lead__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  padding-top: 30px;
  max-width: 640px;
  margin: 0 auto;
}

@media (max-width: 751px) {
  .lead__subtitle {
    padding-top: 16px;
    max-width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media (min-width: 734px) and (max-width: 1082px) {
  .lead__subtitle {
    padding-top: 28px;
  }
}
