.cover {
  max-width: 1184px;
  color: #FFF;
  margin: 92px 48px 0;
  background: url("../../images/cover-trains.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 19%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}

.cover::before {
  content: "";
  position: absolute;
  background-color: #2A2C2F;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover:hover::before {
  opacity: 0.8;
}

@media (max-width: 751px) {
  .cover {
    max-width: 320px;
    margin: 68px auto 0;
    padding-bottom: 11%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover {
    max-width: 768px;
    margin: 94px auto 0;
    padding-bottom: 15%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    margin: 92px auto 0;
    padding-bottom: 19%;
  }
}
