.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: start;
  margin-top: 8px;
  margin-bottom: 0;
}

@media (max-width: 733px) {
  .lead__caption {
    margin-left: 16px;
  }
}

@media (min-width: 734px) and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}
